*{
    padding: 0;
    margin:0;
}

body{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: grey;
}

.image{
    color: white;
    text-align: center;
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container div{
    width: 200px;
    color: white;
    margin: 10px;
    flex-basis: 25%;
}